<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="multikart">
    <meta name="keywords" content="multikart">
    <meta name="author" content="multikart">
    <link rel="icon" th:href="@{/images/favicon/1.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/images/favicon/1.png}" type="image/x-icon">
    <title>Multikart - Multi-purpopse E-commerce Html Template</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/fontawesome.css}">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/animate.css}"}>

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/themify-icons.css}"}>

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}"}>

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/color1.css}" media="screen" id="color">

</head>
<body>
    <header th:insert="header.html"></header>
    
    <!-- latest jquery-->
    <script th:src="@{/js/jquery-3.3.1.min.js}"></script>

    <!-- fly cart ui jquery-->
    <script th:src="@{/js/jquery-ui.min.js}"></script>

    <!-- exitintent jquery-->
    <script th:src="@{/js/jquery.exitintent.js}"></script>
    <script th:src="@{/js/exit.js}"></script>

    <!-- popper js-->
    <script th:src="@{/js/popper.min.js}"></script>

    <!-- slick js-->
    <script th:src="@{/js/slick.js}"></script>

    <!-- menu js-->
    <script th:src="@{/js/menu.js}"></script>

    <!-- lazyload js-->
    <script th:src="@{/js/lazysizes.min.js}"></script>

    <!-- Bootstrap js-->
    <script th:src="@{/js/bootstrap.js}"></script>

    <!-- Bootstrap Notification js-->
    <script th:src="@{/js/bootstrap-notify.min.js}"></script>

    <!-- Fly cart js-->
    <script th:src="@{/js/fly-cart.js}"></script>

    <!-- Theme js-->
    <script src="@{/js/script.js}"></script>
</body>
</html>